<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <div class="d-inline-flex align-items-end">
        <p>
          Paramétrage >
          <a routerLink="../">Projects</a> >
        </p>
        <p class="text-blue">&nbsp;Ajouter</p>
      </div>
    </div>
  </div>
  <form [formGroup]="addProjectForm">
    <!--title-->
    <div class="form-group">
      <label>title *</label>
      <input
        min="0"
        formControlName="title"
        class="form-control"
        required
        type="text"
      />
      <div
        class="text-danger"
        *ngIf="
          addProjectForm.get('title')!.invalid &&
          addProjectForm.get('title')!.touched
        "
      >
        title-Invalid
      </div>
    </div>
    <!--number-->
    <div class="form-group">
      <label>number *</label>
      <input
        min="0"
        formControlName="number"
        class="form-control"
        required
        type="text"
      />
      <div
        class="text-danger"
        *ngIf="
          addProjectForm.get('number')!.invalid &&
          addProjectForm.get('number')!.touched
        "
      >
        number-Invalid
      </div>
    </div>
    <!--client-->
    <div class="form-group">
      <label>client *</label>


      <mat-form-field>
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="client" name="client">
          <mat-option *ngFor="let clientName of clients" [value]="clientName">
            {{ clientName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div
        class="text-danger"
        *ngIf="
          addProjectForm.get('client')!.invalid &&
          addProjectForm.get('client')!.touched
        "
      >
        client-Invalid
      </div>
    </div>
    <!--type-->
    <div class="form-group">
      <label>type *</label>
      <input
        min="0"
        formControlName="type"
        class="form-control"
        required
        type="text"
      />
      <div
        class="text-danger"
        *ngIf="
          addProjectForm.get('type')!.invalid &&
          addProjectForm.get('type')!.touched
        "
      >
        type-Invalid
      </div>
    </div>
    <!--responsable-->
    <div class="form-group">
      <label>responsable</label>
      <input
        min="0"
        formControlName="responsable"
        class="form-control"
        type="text"
      />
    </div>
    <!--altResponsable-->
    <div class="form-group">
      <label>altResponsable</label>
      <input
        min="0"
        formControlName="altResponsable"
        class="form-control"
        type="text"
      />
    </div>
    <!--buttons-->
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-success"
        (click)="saveProject()"
        [ngStyle]="{ cursor: addProjectForm.valid ? 'pointer' : 'not-allowed' }"
        [disabled]="!addProjectForm.valid"
        routerLink="/dashboard/projet"
      >
        Ajouter
      </button>

      <button
        type="submit"
        class="btn btn-secondary ml-3"
        (click)="resetForm()"
      >
        Réinitialiser
      </button>
    </div>
  </form>
</div>
