<h2>ADD OBJECT</h2>

<mat-dialog-content>
    
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            matInput
            [(ngModel)]="title"
          name="title"
            placeholder="Enter your object title"/>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Class</mat-label>
            <select matNativeControl name="classType" [(ngModel)]="classType">
              <option value="FO">FO</option>
              <option value="FB">FB</option>
              <option value="FnB">FnB</option>
            </select>
          </mat-form-field>

          <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="saveObject()">Save</button>
          </mat-dialog-actions>

        </mat-dialog-content>
  
