<form [formGroup]="addTicketForm">
  <mat-form-field>
    <mat-label>Projet</mat-label>
    <mat-select formControlName="projet">
      <mat-option *ngFor="let projet of listProjet" [value]="projet.id">
        {{ projet.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Objet</mat-label>
    <mat-select formControlName="objet">
      <mat-option *ngFor="let objet of listObjet" [value]="objet.id">
        {{ objet.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Emitteur (disabled)</mat-label>
    <input formControlName="emitteur" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Edonne "
    ></textarea>
  </mat-form-field>

  <mat-dialog-actions></mat-dialog-actions>
  <section>
    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addTicketForm.valid"
      >
        Submit
      </button>
    </div>
  </section>
  <mat-dialog-actions></mat-dialog-actions>
</form>
<div class="container">
  <input #fileInput type="file" />
  <button (click)="onFileUpload(fileInput)">upload</button>
</div>
