<div class="card-box pd-20 height-100-p mb-30">
  <div class="row align-items-center">
    <div class="col-md-4">
      <img src="../../assets/vendors/images/banner-img.png" alt="" />
    </div>
    <div class="col-md-8">
      <h4 class="font-20 weight-500 mb-10 text-capitalize">
        Bienvenue,
        <div class="weight-600 font-30 text-blue">{{ userName }}!</div>
      </h4>
      <p class="font-18 max-width-600">
        <!-- Change the welcome message based on user role -->
        <ng-container *ngIf="userR === 'Client'">Bienvenue, client précieux ! Merci d'avoir choisi notre système de gestion des tickets. Créez votre ticket maintenant !</ng-container>
        <ng-container *ngIf="userR === 'Employer'">Bienvenue sur le tableau de bord de l'employé. Gérez vos tickets ici...</ng-container>
        <ng-container *ngIf="userR === 'Admin'">Salutations, Admin ! Voici tous les tickets...</ng-container>
      </p>
    </div>
  </div>
</div>

<div class="card-box mb-30">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column pt-3 px-4">
      <div class="">
        <div class="">
          <div class="d-inline-flex align-items-end">
            <p>Paramétrage ></p>
            <p class="text-blue">
              &nbsp;
              <span *ngIf="userR === 'Client'">My Tickets</span>
              <span *ngIf="userR === 'Employer'">Tickets to Work On</span>
              <span *ngIf="userR === 'Admin'">All Tickets</span>
          </div>
          <div class="mb-4">
            <button
            type="button"
            class="btn btn-success"
            routerLink="add"
            [matTooltip]="'Ajouter'"
            matTooltipPosition="above"
            aria-label="Button that displays a tooltip in various positions"
            >
            <i class="icon-copy fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-4 mx-2 align-items-center justify-content-end">
      <div class="d-inline-flex dataTables_length align-items-center">
        <input
          (keyup)="applyFilter($event)"
          #input
          type="text"
          class="form-control search-input"
          placeholder="chercher"
        />
      </div>
    </div>
  </div>
  <div class="pb-20 px-4">
    <div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="projet">
            <th mat-header-cell *matHeaderCellDef>
              <p mat-sort-header style="margin: 0px; padding-top: 18.8px">
                Projet
              </p>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.projet }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="objet">
            <th mat-header-cell *matHeaderCellDef>
              <p mat-sort-header style="margin: 0px; padding-top: 18.8px">
                Objet
              </p>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.objet }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef>
              <p mat-sort-header style="margin: 0px; padding-top: 18.8px">
                Etat
              </p>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.etat }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Opérations">
            <th mat-header-cell *matHeaderCellDef>
              {{ displayedColumns[3] }}
            </th>
            <!-- ... other HTML content ... -->
            <td mat-cell *matCellDef="let element">
              <div class="button-container">
                <button
                  class="btn btn-info"
                  [routerLink]="['/dashboard/ticket/info', element.id]"
                >
                  <i class="dw dw-eye"></i>
                </button>
                <button
                *ngIf="userR === 'Admin' && element.etat !== 'Terminé'"
                class="btn btn-warning mx-5"
                [routerLink]="['/dashboard/dashboardcom/add-responsable', element.id]"
              >
                <i class="dw dw-edit2 text-white"></i>
              </button>
              
              <button
              *ngIf="userR === 'Client' && element.etat == 'En Attente'"
              class="btn btn-warning mx-5"
              [routerLink]="['/dashboard/ticket/update', element.id]"
            >
              <i class="dw dw-edit2 text-white"></i>
            </button>
              <button
                *ngIf="userR === 'Employer' && element.etat !== 'Terminé'"
                class="btn btn-warning mx-5"
                [routerLink]="['/dashboard/dashboardcom/answer-ticket', element.id]"
              >
                <i class="dw dw-edit2 text-white"></i>
              </button>
              
                <button *ngIf="userR === 'Admin' || userR == 'Employer'"
                  [swal]="swalConfig"
                  (confirm)="removeTicket(element.id)"
                  class="btn btn-danger"
                >
                  <a><i class="dw dw-delete-3"></i> </a>
                </button>
  
                <button *ngIf="userR === 'Client' && element.etat == 'En Attente'"
                [swal]="swalConfig"
                (confirm)="removeTicket(element.id)"
                class="btn btn-danger"
              >
                <a><i class="dw dw-delete-3"></i> </a>
              </button>
              </div>
            </td>
            <!-- ... other HTML content ... -->
          </ng-container>
  
          <ng-container matColumnDef="ops-filter">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          style="display: flex !important; justify-content: start !important"
          class="pagination"
          [pageSizeOptions]="[5, 10, 25, 100]"
          MatPaginatorIntl=""
          aria-labelledby="hio"
          aria-label="Sélectionnez la page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  </div>
  
  
  
  