<!-- Simple Datatable start -->

<div class="card-box mb-30">
  <div class="">
    <div class="pt-3 px-4">
      <div class="d-inline-flex align-items-end">
        <p>
          Paramétrage >
          <a routerLink="../..">tickets</a> >
        </p>
        <p class="text-blue">&nbsp;Consulter</p>
      </div>
      <p class="text-blue h6 my-3">Détails ticket:</p>
      <div *ngIf="ticket" class="pl-4 d-flex justify-content-around">
        <div>
          <p><b>Projet</b> {{ ticket.projet }}</p>
          <p><b>Objet:</b> {{ ticket.objet }}</p>
          <p><b>Emitteur :</b> {{ ticket.emitteur }}</p>
        </div>

        <div>
          <p><b>Description :</b> {{ ticket.description }}</p>
          <p><b>Etat :</b> {{ ticket.etat }}</p>
          <p><b>responsable :</b> {{ ticket.responsable }}</p>
          <p><b>descriptionSolution :</b> {{ ticket.descriptionSolution }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Simple Datatable End -->
