.custom-tooltip {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    border-radius: 4px; /* Border radius */
    font-size: 14px; /* Text size */
    /* Add any other desired styles */
  }
  .notification-btn i {
    margin-top: 10px;
  }
  .custom-small-btn {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem; 
    margin-left: 10px; 
  }
  
  /* Add this CSS to your stylesheet */
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-small-btn {

}
