<!-- Simple Datatable start -->

<div class="card-box mb-30">
  <div class="">
    <div class="pt-3 px-4">
      <div class="d-inline-flex align-items-end">
        <p>
          Paramétrage >
          <a routerLink="../..">objects</a> >
        </p>
        <p class="text-blue">&nbsp;Consulter</p>
      </div>
      <p class="text-blue h6 my-3">Détails objet:</p>
      <div *ngIf="object" class="pl-4 d-flex justify-content-around">
        <div>
          <p><b>title</b> {{ object.title }}</p>
          <p><b>number:</b> {{ object.classType }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Simple Datatable End -->
