<mat-dialog-content>
  <mat-horizontal-stepper>
    <mat-step label="Title">

      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter your project title">
      </mat-form-field>

        <div class="stepper-actions">
          <button mat-button matStepperNext>Next</button>
        </div>

        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>

    </mat-step>
    <mat-step label="Number">
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Number</mat-label>
        <input matNativeControl placeholder="Enter your project number">
      </mat-form-field> 
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-step>
    <mat-step label="Client">
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Client</mat-label>
        <input matNativeControl placeholder="Enter your project client">
      </mat-form-field> 
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-step>
    <mat-step label="Type">
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Type</mat-label>
        <input matNativeControl placeholder="Enter your project type">
      </mat-form-field> 
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-step>
    <mat-step label="Responsable">
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Responsable</mat-label>
        <input matNativeControl placeholder="Enter your project responsable">
      </mat-form-field> 
      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  </mat-step>
  <mat-step label="Alt. Responsable">
    <mat-form-field [floatLabel]="getFloatLabelValue()">
      <mat-label>Alt. Responsable</mat-label>
      <input matNativeControl placeholder="Enter your project alt. responsable">
    </mat-form-field> 
    <div class="stepper-actions">
      <button mat-button matStepperPrevious>Back</button>
    </div>


    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="primary">Save</button>
    </mat-dialog-actions>
</mat-step>



  </mat-horizontal-stepper>
</mat-dialog-content>




