<div class="pd-20 card-box mb-30">
    <div class="clearfix">
      <div class="pull-left">
        <div class="d-inline-flex align-items-end">
          <p>
            Paramétrage >
            <a routerLink="../..">Tickets</a> >
          </p>
          <p class="text-blue">&nbsp;Update</p>
        </div>
      </div>
    </div>
    <form [formGroup]="updateTicketForm">

<div class="form-group">
  <label>responsable</label>
  <select
    formControlName="responsable"
    class="form-control"
    required
    name="responsable"
  >
    <option value="" disabled>Choisir responsable</option>
    <option *ngFor="let employeName of employes" [value]="employeName">
      {{ employeName }}
    </option>
  </select>
  <div
    class="text-danger"
    *ngIf="
      updateTicketForm.get('responsable')!.invalid &&
      updateTicketForm.get('responsable')!.touched
    "
  >
    responsable-Invalid
  </div>
</div>



  <div class="form-group">
  <label>altResponsable</label>
  <select
    formControlName="altResponsable"
    class="form-control"
    required
    name="altResponsable"
  >
    <option value="" disabled>Choisir responsable alternative</option>
    <option *ngFor="let employeName of employes" [value]="employeName">
      {{ employeName }}
    </option>
  </select>
  <div
    class="text-danger"
    *ngIf="
      updateTicketForm.get('altResponsable')!.invalid &&
      updateTicketForm.get('altResponsable')!.touched
    "
  >
    altResponsable-Invalid
  </div>
</div> 

      <!--BUTTONS-->
      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-success"
          (click)="editTicket()"
          [ngStyle]="{
            cursor: updateTicketForm.valid ? 'pointer' : 'not-allowed'
          }"
          [disabled]="!updateTicketForm.valid"
        >
        Attribuer
        </button>
        <button
          type="submit"
          class="btn btn-secondary ml-3"
          (click)="resetForm()"
        >
          Réinitialiser
        </button>
      </div>
    </form>
  </div>
  