<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <div class="d-inline-flex align-items-end">
        <p>
          Paramétrage >
          <a routerLink="../..">Tickets</a> >
        </p>
        <p class="text-blue">&nbsp;Update</p>
      </div>
    </div>
  </div>
  <form [formGroup]="updateTicketForm">
    <!--PROJET-->
    <div class="form-group">
      <label>Projet *</label>
      <div>
        <select class="custom-select col-12" formControlName="projet">
          <option *ngFor="let projet of listProjet" [value]="projet.title">
            {{ projet.title }} - {{ projet.number }}
          </option>
        </select>
      </div>
      <div
        class="text-danger"
        *ngIf="
          updateTicketForm.get('projet')!.invalid &&
          updateTicketForm.get('projet')!.touched
        "
      >
        Projet invalid
      </div>
    </div>
    <!--objet-->
    <div class="form-group">
      <label>Objet *</label>
      <div>
        <select class="custom-select col-12" formControlName="objet">
          <option *ngFor="let objet of listObjet" [value]="objet.title">
            {{ objet.title }} - {{ objet.classType }}
          </option>
        </select>
      </div>
      <div
        class="text-danger"
        *ngIf="
          updateTicketForm.get('objet')!.invalid &&
          updateTicketForm.get('objet')!.touched
        "
      >
        Objet invalid
      </div>
    </div>

    <!--EMMITEUR-->
    <div class="form-group">
      <label>Emitteur *</label>
      <input
        class="form-control"
        type="text"
        formControlName="emitteur"
        readonly
      />
      <div
        class="text-danger"
        *ngIf="
          updateTicketForm.get('emitteur')!.invalid &&
          updateTicketForm.get('emitteur')!.touched
        "
      >
        Emitteur invalid
      </div>
    </div>
    <!--Description-->
    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>
    <!--FICHIER-->
    <div class="form-group">
      <label>Fichier</label>
      <div class="custom-file">
        <input
          #fileInput
          (change)="onFileChange(fileInput)"
          type="file"
          class="custom-file-input"
        />
        <label class="custom-file-label">{{ fileName }}</label>
      </div>
    </div>

    <!--BUTTONS-->
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-success"
        (click)="editTicket()"
        [ngStyle]="{
          cursor: updateTicketForm.valid ? 'pointer' : 'not-allowed'
        }"
        [disabled]="!updateTicketForm.valid"
      >
        Modifer
      </button>
      <button
        type="submit"
        class="btn btn-secondary ml-3"
        (click)="resetForm()"
      >
        Réinitialiser
      </button>
    </div>
  </form>
</div>
